---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -4
IndentWidth: 4
ColumnLimit: 160
PackConstructorInitializers: Never
NamespaceIndentation: None
LambdaBodyIndentation: OuterScope
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterClass: true
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: AlwaysBreak
BracedInitializerIndentWidth: 2
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty